*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #1c1e22;
}
.hero h2{
    color: #ffbd39;
    font-size: 25px;
    font-weight: bold;
    font-family: emoji;
    font-style: italic;
    
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #ffffff;
}

nav ul li a{
    text-decoration: none;
    color: #ffbd39;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(36, 238, 245);
}
.intro{
    margin-left:8% ;
    margin-top: 10%;
}
.intro h1{
font-size: 50px;
color: #212121;
margin-bottom: 20px;
}
span,h3{
    color: #ffbd39;
}
.intro h1{
    color: white;
    font-weight: 750;
}
.intro p{
    color: white;
    line-height: 22px;
    font-size: 27px;
}
.img{
    width: 35%;
height: 80%;
position: absolute;
bottom: 0;
right: 100px;
border-radius: 58px;


box-shadow:  5px 5px 15px red,
             -5px -5px 15px red;
}
#image{
    height: 100%;
    padding-left: 80px;
}


.about{
    background: #1c1e22;
    border-bottom: 2px solid red;
}
.about h1{
    font-family: sans-serif Arial, Helvetica, sans-serif;
    color: white;
    border-bottom: 2px solid red;
    font-size: 45px;
    font-weight: bold;
    font-family: serif;
  
}
.about h2{
    font-family: sans-serif Arial, Helvetica, sans-serif;
    color: white;
  border-bottom: 2px solid red;
    font-size: 45px;
    font-weight: bold;
    font-family: serif;
   
}
.about p{
   text-align: left;
    color: white;
    line-height: 1.2;
    display: block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box button{
    border:0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid red;
      padding: 14px 40px;
      width: 200px;
      outline: none;
      border-radius: 40px;
      transition: 0.25s;
      cursor: pointer;
      
     
    }
    .box a,button{
        text-decoration: none;
        color:white;
    }
    .box button:hover{
      background: #2ecc71;
    }

    .contact{
        background: #1c1e22;
        
    }
    
    .contact h1{
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        color: white;
        font-family: serif;
        padding-top: 20px;
    }
    .contact h2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
}
.contact a,p{
    font-size: 16px;
    color: white;
    text-decoration: none;
    line-height: 1.6;
    
}
#logo1{
align-items: center;
padding-left: 80px;
}
#logo2{
    align-items: center;
    padding-left: 100px;
    }
 #logo3{
    align-items: center;
 padding-left: 120px;
     }

     .form{
        width: 500px;
        top: 50%;
        left: 50%;
        margin: auto;
        background: #191919;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 20px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        
     }

     .form input[type = "text"],.form input[type = "email"],.form input[type = "number"],.form textarea{
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color:white;
        border-radius: 24px;
        transition: 0.25s;
      }
      .form input[type = "text"]:focus,.form input[type = "email"]:focus,.form textarea:focus{
       width: 280px;
       border-color: red;
      }

     .form input[type ="submit"]{
        border:0;
          background: none;
          display: block;
          margin: 20px auto;
          text-align: center;
          border: 2px solid red;
          padding: 14px 40px;
          width: 200px;
          outline: none;
          color:white;
          border-radius: 24px;
          transition: 0.25s;
          cursor: pointer;
        }
        .form input[type = "submit"]:hover{
          background: #2ecc71;
        }
       

        @media screen and (max-width: 600px)
        {
            .hero{
                width: 170%;
                height: 140vh;
                border-bottom: 2px solid red;
            }
            .hero h2{
                color: #ffbd39;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }
            nav{
                display: block;
                
                
                padding: 10px 0;
                align-items: center;
                justify-content: space-between;
            }
            
            
           
           .img{
            padding-bottom: 29px;
            padding-left:30px;
            width: 80%;
            height: 35%;
            position: absolute;
            
        
            border-radius: 48px;
            box-shadow:  5px 5px 15px red,
             -5px -5px 15px red;
           }
           #image{
            height: 112%;
            padding-left: 100px;
        }
           .about{
            width: 170%;
           }
           .contact{
            width: 170%;
           }
           #contimg{
            width: 100%;
           }
        }
